# 0. Setup.

## Imports.

In [3]:
import pandas as pd
import numpy as np

In [122]:
%%html
<style>
    table {
        float: left;
        margin-right: 20px; /* Optional: Adds space between table and other content */
    }
</style>

## Sample data.

In [4]:
# Sample data: Some students.
data = {
    "Name": ["Alice", "Bob", "Charlie", "David", "Eve"],
    "Gender": ["F", "M", "M", "M", "F"],
    "Height": [160.5, 175.2, 168.4, 180.1, 155.3],
    "Weight": [55.3, 72.5, 68.2, 80.7, 50.1],
    "Grade": ["A", "B", "C", "D", "F"]
}

df = pd.DataFrame(data)
df.head()

      name gender  height  weight grade
0    Alice      F   160.5    55.3     A
1      Bob      M   175.2    72.5     B
2  Charlie      M   168.4    68.2     C
3    David      M   180.1    80.7     D
4      Eve      F   155.3    50.1     F

# 1. Init.

## 1.1. From **Variable**.

In [102]:
# 1. from `dictinary`.
data = {
    "col1": [0, 1, 2],      
    "col2": [3, 4, 5]
}
df1 = pd.DataFrame(data, index = ['a', 'b', 'c'])

# 2. from `list`.
cols = ['col1', 'col2']
data = [
    [0, 1],                 
    [2, 3]
]
df2  = pd.DataFrame(data, columns=cols)

# 3. from `pd.Series`.
s1  = pd.Series([0, 1], name='col1')
s2  = pd.Series([2, 3], name='col2')
df3 = pd.DataFrame({s1.name: s1, s2.name: s2})

> - **tuple**: `[(0, 1), (2, 3)]`  
> - **np.array**: `np.array([[0,1], [2,3]])`

## 1.2. `pd.read_csv()`.

### 1.2.1. Arguments.

In [ ]:
df  = pd.read_csv('./data/sample_df.csv',                                 # file path.
                  header          = 0,                                    # header idx.
                  names           = ['col1', 'col2'],                     # col names (if no header provided).
                  index_col       = ['col1'],                             # idx column.
                  usecols         = ['col1', 'col2'],                     # cols to read.
                  dtype           = {'col1': 'int', 'col2': 'float'},     # dtype for each cols.
                  engine          = 'c',                                  # `c` for speed, `python` for more flexibility.
                  converters      = {'col1': lambda x: x**2},             # custom method.
                  true_values     = ['yes', 'true'],                      # values converted to `True`.
                  false_values    = ['no', 'false'],                      # values converted to `False`.
                  na_values       = ['NaN', 'None'],                      # values converted to `NaN`.
                  skiprows        = 2,                                    # lines to skip.
                  skipfooter      = 3,                                    # lines to skip (from end).
                  nrows           = 5,                                    # max num of lines to read.
                  verbose         = False,                                # print 'ms' to read.
                  parse_dates     = ['date'],                             # 'date' col.
                  date_format     = '%Y-%m-%d',                           # date format of 'date' col.
                  iterator        = False,                                # return iterator, to reduce RAM.
                  chunksize       = 2,                                    # num of rows to return when using a `iterator`.
                  low_memory      = False,                                # set `True` if pandas incorrectly infers col types.
                  memory_map      = True,                                 # directly reads from a disk, use for very large file.
                  compression     = 'infer',                              # read compressed csv file.
                  doublequote     = True,                                 # if there is " inside of the field, preserves it.
                  quotechar       = "'",                                  # char for quote (instead of ").
                  encoding        = 'utf-8-sig',                          # encoding type for the file (for UnicodeDecodeError).
                  encoding_errors = 'strict',                             # 'strict': invokes err, 'ignore': skip chars, 'replace': with ï¿½, 'backslashreplace': with \xXX.
                  storage_options = {'key': key, 'secret': secret},       # for cloud storage, e.g. AWS S3, GCS, etc.
                 )

### 1.2.2. `iterator`.

In [61]:
df = pd.read_csv('./data/sample_df.csv', iterator=True, chunksize=1)

for r in df:
    print(r)

   col1  col2
0     0     3
   col1  col2
1     1     4
   col1  col2
2     2     5

### 1.2.3. `compression`.

In [ ]:
# write.
df.to_csv('data_compressed.csv.bz2', compression='bz2', index=False)

# read.
df = pd.read_csv('data.csv.gz', compression='gzip')

# 'infer' = automatically recognize.
df = pd.read_csv('data.csv.zip', compression='infer')

# 2. Indexing.

In [113]:
# Sample df.
data = {
    "col1": [0, 1, 2],      
    "col2": [3, 4, 5]
}
df = pd.DataFrame(data, index = ['a', 'b', 'c'])
df.head()

   col1  col2
a     0     3
b     1     4
c     2     5

## 2.1. Attributes.

In [77]:
df.columns        # Column names.
df.index          # Index series.
df.dtypes         # Data types.
df.to_numpy()     # Values (without columns). NOTE) DO NOT USE df.values.
df.size           # Size (m * n).
df.shape          # Shape (m, n).
df.empty          # Check if empty.

dtype('int64')

## 2.2. Description.

In [ ]:
# info.
df.info(buf      = s,    # buf for output. Use io.StringIO() and buf.getvalue(), or file.
        max_cols = 10)   # cols over 'max_cols' will be truncated.

## 2.3. Indexing.

In [109]:
# 1 row, 1 value.
df.at['b', 'col1']   # (idx, col).
df.iat[0, 1]         # (idx_pos, col_pos).

# rows.
df.loc['a']
df.iloc[0]

# cols.
df['col1']           # return.
df.pop('col1')       # return and remove.

col1    0
col2    3
Name: a, dtype: int64

## 2.4. Iteration.

In [118]:
# iter each cols.
for col, series in df.items():
    col       # (idx, col).
    series    # (idx, value).

# iter each rows.
for idx, r in df.iterrows():
    idx       # (idx).
    r         # (0, 10, 3).

a
b
c

## 2.5. Search.

In [119]:
# by value.
df.isin([0, 2])   # if the elem contains 0 or 2, return `True`.
~df.isin([1])     # if the elem does NOT contain 1, return `True`. 

# by `dtype`.
df.select_dtypes(include=['bool'],    # return cols of 'bool'.
                 exclude=['int'])     # return without 'int'.

# by condition.
df.query('A > B')            # return rows meeting the condition.
df[df.A > df.B]              # Same.

# by condition, replace.
df.where(cond   = df > 1,    # if `False`,
         other  = -1)        # replace the value with 'other'.

df.mask(cond    = df > 1,    # if `True`,
        other   = -1)        # replace.

   col1  col_new  col2
a    -1       10     3
b    -1       20     4
c     2       30     5

# 3. Manipulation.

## 3.1. Add.

In [121]:
# add col.
df['col_new'] = [-1, -2, -3]

# insert col.
df.insert(1, 'col_new2', [10, 20, 30])   # add between 1 ~ 2.  NOTE) IT DIRECTLY CHANGES `df`!

   A  B
0  0  3
1  0  3

## 3.2. Merge.

In [ ]:
# combine - with function.
take_smaller = lambda s1, s2: s1 if s1.sum() < s2.sum() else s2
df.combine(df2, take_smaller)

# combine - overwrite null.
df.combine_first(df2)

# aggregate.
df.agg(['sum', 'min'])      # new rows 'sum' and 'min' for each col.

> ### c.f. Other Aggregation Ftns.
> | Function   | Description |
|------------|-------------|
| **`'sum'`**     | Sum of values in each column. |
| **`'min'`**     | Minimum value in each column. |
| **`'max'`**     | Maximum value in each column. |
| **`'mean'`**    | Average (mean) of each column. |
| **`'median'`**  | Median value of each column. |
| **`'std'`**     | Standard deviation of each column. |
| **`'var'`**     | Variance of each column. |
| **`'count'`**   | Number of non-null values in each column. |
| **`'nunique'`** | Number of unique values in each column. |
| **`'first'`**   | First value in each column. |
| **`'last'`**    | Last value in each column. |
| **`'prod'`**    | Product of all values in each column. |
| **`'sem'`**     | Standard error of the mean. |
| **`'skew'`**    | Skewness of the distribution. |
| **`'kurt'`**    | Kurtosis (measure of tailedness). |

## 3.3. Apply.

### 3.3.1. Elem-wise.

In [15]:
# apply ftn.
df.apply(ftn,                       # ftn to apply.
         axis       = 0,            # 0 = on each col, 1 = on each row.
         raw        = False,        # `False` = pass a series, `True`: pass a ndarray, which could be much faster.
         )

df.map(ftn)                         # ftn to apply, on each elem.

# apply ftn - pipeline.
(
    df.pipe(ftn1)
    .pipe(ftn2)
    .pipe(ftn3, 'df')
)

# apply multiple ftns on the Series.
s = pd.Series(range(3))
s.transform([np.sqrt, np.exp])

# apply on the df.groupby().
df = pd.DataFrame({
    "Date": [
        "2015-05-08", "2015-05-07", "2015-05-06", "2015-05-05",
        "2015-05-08", "2015-05-07", "2015-05-06", "2015-05-05"],
    "Data": [5, 8, 6, 1, 50, 100, 60, 120],
})
df.groupby('Date')['Data'].transform('sum')

NameError: name 'ftn' is not defined

### 3.3.2. `df.groupby()`.

In [5]:
# Signature.
df.groupby(
    by='mapping | function | label | pd.Grouper | list of such' = None,
    level: 'IndexLabel | None' = None,    # level of idx. only use when the idx is multi-level.
    as_index: 'bool' = True,              # if `False`, returned value has its own idx, i.e. 0, 1, and so on.
    sort: 'bool' = True,                  # sort by the key. turning off this will improve the performance.
    group_keys: 'bool' = True,            # make keys as new idxs when an `.apply()` called.
    dropna: 'bool' = True,                # keep NaN for keys and their values.
) -> 'DataFrameGroupBy'

SyntaxError: positional argument follows keyword argument (898903877.py, line 3)

In [23]:
# Sample df.
df = pd.DataFrame({
    "Date": [
        "2015-05-08", "2015-05-07", "2015-05-06", "2015-05-05",
        "2015-05-08", "2015-05-07", "2015-05-06", "2015-05-05"],
    "Data": [5, 8, 6, 1, 50, 100, 60, 120],
})
print(df.head(), '\n')

# by = mapping, i.e. idx: gropu_idx.
mapping = {0: "Group1", 1: "Group1", 2: "Group2", 3: "Group2",
           4: "Group1", 5: "Group1", 6: "Group2", 7: "Group2"}
grouped = df.groupby(by=mapping).sum()
print(grouped, '\n')

# by = some_ftn => create new idxs with given ftn.
grouped = df.groupby(by=lambda x: df.loc[x, "Data"]).sum()
print(grouped, '\n')

# by = label.
grouped = df.groupby('Date', 
                     as_index=False,       # create new idxs, i.e. 0, 1, ...
                     sort=False,           # don't sort by keys, which could improve the performance.
                     dropna=False).sum()   # keep NaN for keys and their values.
print(grouped, '\n')

         Date  Data
0  2015-05-08     5
1  2015-05-07     8
2  2015-05-06     6
3  2015-05-05     1
4  2015-05-08    50

                                            Date  Data
Group1  2015-05-082015-05-072015-05-082015-05-07   163
Group2  2015-05-062015-05-052015-05-062015-05-05   187

           Date  Data
1    2015-05-05     1
5    2015-05-08     5
6    2015-05-06     6
8    2015-05-07     8
50   2015-05-08    50
60   2015-05-06    60
100  2015-05-07   100
120  2015-05-05   120

         Date  Data
0  2015-05-08    55
1  2015-05-07   108
2  2015-05-06    66
3  2015-05-05   121

## 3.4. dtype.

In [ ]:
# convert dtype.
df.astype('int32')               # converts ALL cols.
df.astype({'col1': 'int32'})     # converts only 'col1'.

# Miscellaneous.

In [ ]:
# copy.
df.copy(deep=True)               # `False` for shallow copy.

# memory usage.
df.memory_usage(deep=True)     # each col, in bytes.

# dot product.
df1 @ df2